<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Alisuq images</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./static/css/main.css" />
  </head>
  <body>
    <div class="container">
      {% if request.cookies.get('hello') %}
      <p>{{request.cookies.get('hello')}}</p>
      {% endif %}
      <div>
        <h1>Alisuq</h1>
        <p>Mask image and resize to 1024 x 1024</p>
      </div>
      <form method="POST" enctype="multipart/form-data" id="uploadForm">
        <div class="upload">
          <input
            type="file"
            name="images"
            id="images"
            multiple
            accept="image/png, image/jpeg, image/jpg"
            required
          />
          <label for="images" class="btn">Select Photos</label>
        </div>
        <div>
          <label for="category">Category</label>
          <input type="text" name="category" id="category" required />
        </div>

        <label for="usage">Usage</label>
        <input type="text" name="usage" id="usage" required />
        <input
          type="submit"
          id="uploadBtn"
          value="mask & resize"
          class="btn mt-1"
        />
        <span class="mx-1"
          ><strong id="noOfImages">0</strong> image/s selected</span
        >

        <!-- <label for="color">Color</label>
      <input type="text" name="color" id="color" /> -->

        <br />
        <div id="imagePreview"></div>
      </form>

      <div id="staff"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>
